<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="icon" href="../favicon.png">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
            <!-- Barra de navegacion -->
        <nav>
            <ul class="navbar">
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a class="active" href="#" >Presupuesto</a></li>
                <li><a href="./galeria.html" >Galería</a></li>
                <li><a href="../index.html">Inicio</a></li> 
                <li class="logotipo"> <img src="../favicon.png" alt="Rolex Logo"> 
                <span class="nombrePagina"><strong>Relojes de Lujo</strong></span></li>             
             
            </ul>
        </nav>
        <div class="navbar-left">
            
            
        </div>
    </header>

    <main>
    <form id="formulario">
        <h3>Formulario de Presupuesto</h3>
    
        <!-- Datos de contacto -->
        <fieldset>
            <legend>Datos de contacto</legend>
            <div class="formularioDatos">
                <label for="name">Nombre:</label>
                <input type="text" id="name" maxlength="15" placeholder="Ingrese su nombre">
            </div>
            <div class="formularioDatos">
                <label for="apellido">Apellidos:</label>
                <input type="text" id="apellido" maxlength="40" placeholder="Ingrese sus apellidos">
            </div>
            <div class="formularioDatos">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" maxlength="9" placeholder="Ingrese su teléfono">
            </div>
            <div class="formularioDatos">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" placeholder="Ingrese su correo">
            </div>
        </fieldset>
    
        <!-- Presupuesto -->
        <fieldset>
            <legend>Presupuesto</legend>
            <div class="formularioDatos">
                <label for="productos">Producto:</label>
                <select id="productos">
                    <option value="0" selected>Elija el Producto</option>
                    <option value="5000">Rolex Submariner - 5000€</option>
                    <option value="6000">Rolex GMT-Master II - 6000€</option>
                    <option value="7000">Rolex Datejust - 7000€</option>
                </select>
            </div>
            <div class="formularioDatos">
                <label for="plazo">Plazo (meses):</label>
                <input type="number" id="plazo" min="1" placeholder="Número de meses">
            </div>
            
                <label>Extras:</label><br>
                <label><input type="checkbox" class="extra" value="500"> Azul - 500€</label>
                <label><input type="checkbox" class="extra" value="1000"> Verde - 1000€</label>
                <label><input type="checkbox" class="extra" value="1500"> Oro - 1500€</label>
            
            <p>Presupuesto final: <span id="precioFinal">€0</span></p>
        </fieldset>
    
        <!-- Condiciones y envío -->
        <fieldset>
            <legend>Condiciones</legend>
            <div class="form-group">
                <label>
                    <input type="checkbox" id="privacidad"> He leido la politica de privacidad
                </label>
            </div>
        </fieldset>
    

    
        <div class="buttons">
            <button type="button" id="enviar">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>

    </main>

    <footer class="footer">
        <!-- Redes sociales -->
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/512px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook" width="30" height="30">
          </a>
         
          <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/512px-Instagram_icon.png" alt="Instagram" width="30" height="30">
          </a>
        </div>
    
        <!-- Dirección de la empresa -->
        <p>Dirección: Palma de Mallorca</p>
    
        <!-- Aviso legal -->
        <p><a href="https://www.ionos.es/digitalguide/paginas-web/derecho-digital/aviso-legal-obligatorio-todo-lo-que-necesitas-saber/">Aviso legal</a></p>
      </footer>
      
      <script src="../js/formulario.js"></script>
</body>
</html>